* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    background-image: url("https://images.unsplash.com/photo-1664392171684-c4ebf0a2e1a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto-Regular', sans-serif;
}


nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    display: flex;
    /* padding: 2.5%, 2.5%, 2.5%, 5%; */
    height: 7.5vh;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

nav ul {
    display: flex;
    width: 30%;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}